.homeAbout {
  text-align: center;
  margin-top: 0px;
}
.homeAboutImage {
  height: 360px;
  width: auto;
  margin-left: 13%;
}
@media (max-width: 1100px) {
  .homeAboutImage {
    height: 360px;
    width: 400px;
    margin-left: 13%;
  }
}
@media (max-width: 800px) {
  .homeAboutImage {
    height: 360px;
    width: auto;
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .homeAboutImage {
    height: 360px;
    width: auto;
    margin-left: 10%;
  }
}
.firstComponent{
  margin-top: -5%;
}
.homeImportantDates{
  margin-bottom: "-25%";
}
.homeAboutImageBox {
  padding-left: 0%;
}
.homeAboutText {
  text-align: justify;
  padding-left: 30%;
  padding-right: 10%;
}
.importantTable {
  margin-left: 10%;
  margin-right: 10%;
}
.sponsor {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.sponsorImage {
  text-align: center;
  height: 130px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
}
.csiImage {
  height: '100px';
  width: '100px';
}
.springImage {
  height: '100px';
  width: '300px';
}
.copyRight {
  background-color: #04091e;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.copyRightText {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footerDiv{
  width: 100%;
  position: absolute;
}
@media (max-width: 800px) {
  .homeAboutImage {
    height: 300px;
    width: 80%;
  }
  .csiImage {
    height: '30px';
    width: '30px';
  }
  .springImage {
    height: '30px';
    width: '50px';
  }
  .homeAboutImageBox {
    padding-left: 0%;
  }
  .firstComponent{
    margin-top: -10%;
  }
}
@media (max-width: 700px) {
  .firstComponent{
    margin-top: -15%;
  }
}
.aboutMiddleHeading{
  font-size: 30px;
}
@media(max-width:800px){
  .aboutMiddleHeading{
      font-size: 20px;
      margin-left: 10%;
  }
  .paragraphText{
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media(max-width:700px){
  .aboutMiddleHeading{
      font-size: 20px;
      margin-left: 15%;
  }
  .paragraphText{
    margin-left: 15%;
    margin-right: 7%;
  }
}